/* set entire body that is webpage */
.container-fluid{
	background: #F7DCC8;
	padding-top: 20vh;
	padding-bottom: 20vh;
    height: auto;
}
/* set form background colour*/
form{
	background: #FAF9F5;
}
/* set padding and size of th form */
.form-container{
	border-radius: 10px;
	padding: 50px;
}